.Citation{
    margin: 1rem 2rem;
    text-align: center;

        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
        box-shadow: 10px 10px rgba(0,0,0,.15);
        transition: all .4s ease;
        backdrop-filter: blur(45px);
      
      &:hover {
        border-radius: 0% 0% 100% 100% / 0% 0% 10% 10% ;
        box-shadow: 10px 10px rgba(0,0,0,.25);
      }
      p{
        margin: 1rem 2rem;

      }
}