.InputUtilisateur{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

label{
    input[type=text]{
        margin: 1rem;
        height: 32px;
        border-radius: 5px;
        width: clamp(10rem, 8.6957rem + 15vw, 25rem);
        border: none;
        border-bottom: 1px solid;
        border-bottom-color:#1976d2;
        background: #cce3fb;
        &:hover{
            border-bottom-color: rgba(0,0,0,.87);
            background: #ececec;
        }
        &:focus{
            border-color: #6200ee;
        }
    
    }
}
}